/* Banner Rules */
#title-banner {
    position: relative;
    right: 25%;
    top: 100px;
    display: inline-block;
    padding: 25px;
    border-radius: 10px;
    background-color: #dedede;
}

#logo-img {
    position: relative;
    left: 125px;
    height: 160px;
    width: 110px;
}
/* End of Banner Rules */

/* Guide Rules */
#guide {
    float: left;
    position: relative;
    left: 5%;
    top: 475px;
    padding: 15px;
    margin-bottom: 35px;
    background-color: #dedede;
    border-radius: 10px;
}

.guide-item {
    text-align: center;
    border-bottom: 1px solid;
    border-right: 1px solid;

}

table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: 16px;
    color: #312722;
}

thead {
    background-color: #4E4845;
    color: #312722;
}
th {
    padding: 10px;
    padding-right: 10px;
    vertical-align: middle;
    border-right: 1px solid;
}

th:last-child {
    border-right: 0px;
}

tbody tr:nth-child(even){
    background-color: #645B57;
}

td:first-child {
    border-right: 1px solid;
}

td:last-child {
    border-right: 0px;
}

table a {
    text-decoration: none;
    color: #312722;
}

 table a:visited {
    color: #312722;
}
/* End of Table Rules */

/* Trending Sidebar */
#sidebar-container {
    float: right;
    position: relative;
    right: 10%;
    top: 475px;
    padding-right: 5px;
    background-color: #dedede;
    border-radius: 10px;
}

.trending-item {
    float: right;
}

.trending-item a {
    line-height: 25px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #312722;
}

.trending-img {
    height: 140px;
    width: 90px;
}
/* End of Trending Sidebar */

/* New Shows Airing Box*/
#new-shows-box {
    float: left;
    position: relative;
    right: 43%;
    top: 875px;
    padding: 10px 10px 10px 10px;
    background-color: #dedede;
    border-radius: 10px;
}

#new-shows-box ul {
    list-style: none;
}

.new-show {
    color: #312722;
}
/* End of New Shows Airing Box */

/* What Twitter is Saying Box */
#trending-twitter-box {
    float: right;
    position: relative;
    top: 540px;
    right: 25%;
    padding: 10px 35px 10px 0px;
    background-color: #dedede;
    border-radius: 10px;
}

.trending-twitter-tweet {
    list-style: none;
    color: #312722;
    padding: 0px;
    margin: 0px;
}
/* End of What Twitter is Saying Box */

/* Misc */
.over-text {
    display: block;
}

.under-text {
    font-size: 11px;
    line-height: 8px;
}
/* Enf of Misc */

/* Overwrite Footer Bottom*/
#footer {
    top: 550px;
}
/* End of Footer */

