/* Navbar rules */
.navbar {
    background-color: #627178;
    width: 100%;
    float: left;
    margin: -10px;
    border-bottom: 1px solid transparent;
    display: block;
}

.nav-brand {
    font-size: 22px;
}
.nav-items {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    float: left;
    margin: -10px 10px 0px 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    line-height: 20px;
    height: 40px;
    border: 1px solid transparent;
}
.nav-items li a:hover {
    background-color: #0C1D24;
}

.nav-search {
    background-color: #494B4C;
    border-radius: 100px;
    width: 230px;
    margin-bottom: 5px;
}

.search_field {
    float: left;
    line-height: 20px;
    padding-top: 5px;
    background: transparent;
    border: 0;
}

/* magnifying glass location */
.nav-search .search_btn {
    position: absolute;
    top: 30px;
    right: 135px;
}

.search_btn {
    width: 15px;
    font-size: 30px;
    line-height: 30px;
    margin-top: -10px;
}

.nav-login, .nav-search {
    float: right;
    padding-left: 15px;
    height: 30px;
}

.navbar a {
    color: #434343;
}

.navbar a:hover {
    color: #434343;
}

.navbar a:visited {
    color: #434343;
}

.navbar input {
    color: #434343;;
}

/* End of Navbar Rules */

.main {
    display: block;
    padding: 50px;

}
.container {
    display: block;
    padding: 15px; 
}

.attn {
    text-align: center;
    font-size: 20px;
    font-weight: 450;
    line-height: 30px;
}

.guide {

}

.guide-network {
    display: block;
}

.guide-channel {
    font-size: 12px;
}

.guide-item {
    text-align: center;
    border-bottom: 1px solid;
    border-right: 1px solid;

}

table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: 16px;
}

thead {
    background-color: #627178;
    color: #0C1D24;
}
th {
    padding: 10px;
    padding-right: 10px;
    vertical-align: middle;
    border-right: 1px solid;
}

th:last-child {
    border-right: 0px;
}

tbody tr:nth-child(even){
    background-color: #f0f0f2;
}

td:first-child {
    border-right: 1px solid #627178;
}
td:last-child {
    border-right: 0px;
}

table a {
    text-decoration: none;
    color: #434343;
}
 table a:visited {
    color: #434343;
}

